.gridview{
  margin: 20px auto;
  width: 300px;
  height: 200px;
  display: grid;
  grid-template-columns: 100px 100px;
  column-gap: 40px;
}

.button-count button{
  color: white;
  background-color: green;
  font-size: 300%;
  border: none;
  border-radius: 20px;
  width: 121%;
}

.sumget h1{
    width: 64px;
    font-size: 206%;
    margin: auto;
    color: blueviolet;
}

.app-btn{
  width: 137px;
  margin: 5% auto;
  display: grid;
  border: none;
  background-color: red;
  color: white;
  font-size: 159%;
}
